.pin-creation-tool-container{
    position: relative;
    display: block;
    width: calc(100% - 60px); /* Prevents overflow */
    /* height: 100vh; */
    margin-left: 60px;         /* Use margin instead of left */
    top: 65px;
    align-items: center;
    /* border-top: 1px solid black; */
}
.pin-creation-tool-container-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border: 1px solid #e5e5e0;
}
.navbar-title{
    display: flex;
    align-items: center;
    padding: 16px 0;
}
.navbar-title span{
    font-size: 16px;
    font-weight: 600;
}
.navbar-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.navbar-btn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(241, 241, 241);
}
.navbar-btn .material-symbols-outlined{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 31px;
}
.pin-creation-tool-main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.pin-creation-tool-main-container-left,.pin-creation-tool-main-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.pin-creation-tool-main-container-left{
    position: relative;
}
.pin-creation-tool-main-container-right{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.container-1,.container-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-1-div,.container-2-div,.container-3-div{
    position: relative;
    width: 490px;
    
    /* border: 1px solid black; */
}

#image-title{
    width: 100%;
    height: 100%;
    padding: 28px 12px 10px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #91918c
}
#image-title::placeholder{
    font-size: 13px;
    font-weight: 400;
}
#title-container label{
    position: absolute;
    font-size: 10px;
    color: black;
    font-weight: 500;
    left: 16px;
    top: 10px;
}

#image-description{
    width: 100%;
    height: 100%;
    padding: 10px 12px 10px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #91918c
}
#description-container label{
    font-size: 10px;
    color: black;
    /* font-weight: 500; */
    left: 16px;
    top: 10px;
}

.container-2-div{
    display: flex;
    flex-direction: column;

    gap: 5px;
}
#link{
    width: 100%;
    height: 100%;
    padding: 10px 12px 10px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #91918c
}
.container-2-div label{
    font-size: 10px;
    color: black;
    /* font-weight: 500; */
    left: 16px;
    top: 10px;
}
#board{
    width: 100%;
    height: 100%;
    padding: 10px 12px 10px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #91918c
}
#taggedtopic{
    width: 100%;
    height: 100%;
    padding: 10px 12px 10px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #91918c
}


.choose-file-container{
    width: 300px;
    height: 370px;
    border-radius: 12px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #e5e5e0;
}
.choose-file-container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    gap: 15px;
}
.choose-file-container-icon .material-symbols-outlined{
    font-size: 24px;
    border: 2px solid black;
    border-radius: 50%;

}
.choose-file-container-context{
    font-size: 13px;
    color: black;
    font-weight: 400;
}
.choose-file-container-2{
    font-size: 10px;
    font-weight: 500;
}

input[type="file"] {
  display: none;
}

/* Style your custom button */
.custom-file-upload {
  position: absolute;
  padding: 8px 12px;
  cursor: pointer;
  /* background-color: #4CAF50; */
  /* color: white; */
  border-radius: 4px;
  font-size: 14px;
  width: 300px;
    height: 370px;
/* border: 1px solid black; */
}